<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        table{
            border-collapse: collapse;
            border:1px solid green;
        }
        td,th{
            border-collapse: collapse;
            border: 1px solid green;
        }
        .ll{
            float: left;
            margin-right: 30px;
        }
    </style>

</head>
<body>
<table class="ll">
    <tr>
        <td colspan="3" align="center">消费排行榜</td>
    </tr>
    <tr>
        <th>排名</th>
        <th>用户名</th>
        <th>消费金额</th>
    </tr>

    <tr>
        <td>1</td>
        <td>admin</td>
        <td>2300.00</td>
    </tr>
    <tr>
        <td>2</td>
        <td>ss</td>
        <td>620.00</td>
    </tr>
    <tr>
        <td>3</td>
        <td>dd</td>
        <td>300.00</td>
    </tr>
</table>
<table class="ll">
    <tr>
        <td colspan="3" align="center">充值排行榜</td>
    </tr>
    <tr>
        <th>排名</th>
        <th>用户名</th>
        <th>充值金额</th>
    </tr>

    <tr>
        <td>1</td>
        <td>admin</td>
        <td>2300.00</td>
    </tr>
    <tr>
        <td>2</td>
        <td>ss</td>
        <td>2220.00</td>
    </tr>
    <tr>
        <td>3</td>
        <td>dd</td>
        <td>300.00</td>
    </tr>
</table class="ll">
<table>
    <tr>
        <td colspan="3" align="center">服务之星</td>
    </tr>
    <tr>
        <th>排名</th>
        <th>用户名</th>
        <th>服务次数</th>
    </tr>

    <tr>
        <td>1</td>
        <td>admrin</td>
        <td>5</td>
    </tr>
    <tr>
        <td>2</td>
        <td>ruojian</td>
        <td>2</td>
    </tr>
    <tr>
        <td>3</td>
        <td>regitd</td>
        <td>1</td>
    </tr>
</table>
</body>
</html>