<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        table{
            border-collapse: collapse;
            border: 1px solid green;
        }
        td,th{
            border: 1px solid green;
            height: 50px;
            width: 120px;
            text-align: center;
        }
    </style>
</head>

<body>
<h1 style="color: #1c84c6;margin-left: 260px">我的订单</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>订单号</th>
            <th>下单时间</th>
            <th>状态</th>
            <th>操作</th>
            <?foreach($rows as $row):?>
                </tr>
                    <td><?=$row['orderform_id']??''?></td>
                    <td><?=$row['order_number']??''?></td>
                    <td><?=$row['submission_time']??''?></td>
                    <td><?=$row['status']??''?></td>
                    <td>
                        <a href="index.php?p=home&c=orderform&a=show&show&orderform_id=<?=$row['orderform_id']?>">查看</a>|
                        <a href="index.php?p=home&c=orderform&a=cancel&orderform_id=<?=$row['orderform_id']?>&member_id=<?=$row['member_id']?>">取消</a>
                    </td>
                <tr>
            <?endforeach;?>
        </tr>
    </table>
</body>
</html>